body{
    font-family: Arial, Helvetica, sans-serif;
}
.blog-content{
    color: yellow;
    background-color: black;
}
#sumit-js{
    color: rgb(42, 231, 4);
    background-color: royalblue;
}
#goswami-js{
    color: red;
}

/* we cannot write ".,/ etc" while wriiten in ID and class , like sumit.js we cannot do it using dot ,while using id and class , we should always use hifen "-" sign to define if and class , otherwise we don't get our desire output//// we shold write .sumit-js , .goswami-js */

