.prac-css{
     
    color: aqua;
}
.color-bhai{ 
    background-color: darkslategrey;

}
.popin-bhai{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}  
.yep-css{
    font-family: Georgia, 'Times New Roman', Times, serif;

}
span{
    background-color: aqua;
}