h2{
    font-size: large;
    text-align: center;
    margin: 8px 0px;
    padding: 5px 0px;
    background: rgb(174, 174, 174);
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
div{
    border : 2px solid rgb(0, 0, 0);
    padding: 10px;
}




