body{
    font-family: 'Courier New', Courier, monospace;
    color: #444;
}
nav{
    /* border: 2px solid red; */
    background : #cecece;
    padding: 1px;
}
nav ul {
    /* border: 2px solid green;   .... we do first it green to check area,after the workk is over, we remove that*/
    padding-left: 0px;
    text-align: center;
}
nav li{
    display: inline;
    list-style: none;
    border-bottom: 1px solid #444;
    margin:15px 20px;
    font-size: 20px;
}
a{
    color: #444;
    text-decoration: none;
}
section{
    margin-top: 50px;
}
h1 ,h2,h3{
    color: #222;
}
h2{
    border-bottom: 1px solid brown;
}



